# Astro
.astro/
dist/
.vercel/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev_server.log
preview.log
*.log

# Test results
test-results/
playwright-report/

# OS metadata
.DS_Store
Thumbs.db
